<%= form_for @user do |f|%>
  <div>
    <ul>
      <% if @user && @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
          <li class = "error"><%= message %></li>
        <% end %>
      <% end %>
  </ul>
</div>
<table>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control"  %>
  </div>
 
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control"  %>
  </div>
  
  <div class="form-group">
    <%= f.label :short_bio %>
    <%= f.text_area :short_bio, class: "form-control"  %>
  </div>
<%= f.submit "Update User",class: "btn btn-default" %>
<% end %>
<% puts "$" * 500 %>