      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#dashboard" data-toggle="tab">
            <div class="text-small">Manage your</div>
            <span class="text-uppercase">Dashboard</span>

          </a>
        </li>
        <li>
          <a href="#skills" data-toggle="tab">
            <div class="text-small">View/Edit your</div>
            <span class="text-uppercase">Skills</span>

          </a>
        </li>
         
      </ul>
      
      <!-- DASHBOARD TAB -->      
      <div class="bg-white b-1px-gray-light b-top-none brad-bottom brad-tr b-bot-2px-gray-light">

        <div class="tab-content">

          <div class="tab-pane active fade in p-30" id="dashboard">

            <h1 class="text-center font-w-100"><span class="text-blue"><%= @user.full_name %></span></h1>
 
 
            <div class="row">
              
              <div class="col-sm-12 m-b-30">

                <div class="pos-rel">
                  <div class="iconmelon m-r-10">
                    <svg viewBox="0 0 32 32">
                      <g filter="">
                        <use xlink:href="#receipt-shopping"></use>
                      </g>
                    </svg>
                  </div>
  

                   <h1>Work Experience</h1>
      
                </div>

                <hr class="m-b-0">
                  

                <div id="tasks-list" class="tasks-wrapper">
                  <table class="table-striped">
                  <% @user.work_experiences.each do |work_experience| %>
                    <tr>
                    <td>
                      <input type="checkbox" class="icheck"> 
                      <span class="body"><strong><a href=<%="/work_experiences/#{work_experience.id}"%>><%="#{work_experience.title}"%></strong></span>
                      
                    </td>
                      <td>
                      <input type="checkbox" class="icheck"> 
                      <span class="body"><%= work_experience.user_work_experiences.find_by(user_id: "#{@user.id}").role %></span>
                    </td>
                    <td>
                      <input type="checkbox" class="icheck"> 
                      <span class="body"><%= work_experience.description %></span>
                    </td>
                    <td>
                      <input type="checkbox" class="icheck"> 
                      <span class="body"><%= work_experience.user_work_experiences.find_by(user_id: "#{@user.id}").description %></span>
                    </td>
                  </tr>
                  <% end %>

                  </table>

                </div>

              </div>



       
             </div>
              
            </div>
          </div>
          </div>
          
          <!-- SKILLS TAB -->
      <div class="bg-white b-1px-gray-light b-top-none brad-bottom brad-tr b-bot-2px-gray-light">

        <div class="tab-content">

          <div class="tab-pane active fade in p-30" id="skills">

            <h1 class="text-center font-w-100">Here are your skills <span class="text-blue"><%= @user.first_name %></span></h1>
         

            <div class="row">
              
              <div class="col-sm-12 m-b-30">

                <div class="pos-rel">
                  <div class="iconmelon m-r-10">
                    <svg viewBox="0 0 32 32">
                      <g filter="">
                        <use xlink:href="#receipt-shopping"></use>
                      </g>
                    </svg>
                  </div>
  
               
                   <h1>Skills</h1>
       
                </div>

                <hr class="m-b-0">
                  

                <div id="tasks-list" class="tasks-wrapper">
                  <table class="table-striped">
                  <% @user.skills.each do |skill| %>
                    <tr>
                    <td>
                      <input type="checkbox" class="icheck"> 
                      <span class="body"><strong><%= link_to skill.name, "/skills/#{skill.id}" %></strong></span>
                      
                    </td>
                    <td>
                      <input type="checkbox" class="icheck"> 
                      <span class="body"><%= skill.description %></span>
                    </td>
                  </tr>
                  <% end %>

                  </table>

                </div>

              </div>
              </div>
            </div>
          </div>
        </div>
         
