<ul class="nav nav-tabs">
  <li class="active">
    <a href="#dashboard" data-toggle="tab">
      <div class="text-small">Here is</div>
      <span class="text-blue text-uppercase">MyGig</span>

    </a>
  </li>
  <li>
    <a href="#skills" data-toggle="tab">
      <div class="text-small">View my</div>
      <span class="text-uppercase">Skills</span>

    </a>
  </li>
  <li>
    <a href="#endorsements" data-toggle="tab">
      <div class="text-small">View my</div>
      <span class="text-uppercase">Endorsements</span>

    </a>
  </li>

</ul>
 

<!-- DASHBOARD TAB -->      
<% if @user.images.first && @user.short_bio %>
<div class="bg-white b-1px-gray-light b-top-none brad-bottom brad-tr b-bot-2px-gray-light">

  <div class="tab-content">

    <div class="tab-pane active fade in p-30" id="dashboard">

      <h1 class="text-center font-w-100"><span class="text-blue"><%= @user.full_name %></span></h1>

      <div class="row">
        <div class="col-md-4 padded">
          <img class = "center-block img-responsive"src = "<%= @user.images.first.url %>"/>
        
        </div>
        <div class="col-md-4 padded">
 
          <%= @user.short_bio %>

    <% end %>
        </div>
<!--         <h1>Gigs Played</h1><div id="map"class="col-md-4 padded"ng-app="app"ng-controller="workExperienceCtrl"ng-init="setup(<%= @user.id %>)">
        <script type="text/javascript">
        var map;
          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 39.8282109, lng: -98.5817593},
              zoom: 3,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var geocoder = new google.maps.Geocoder();
          }; </script>
           <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMMPpVWOkUSjnH3AlGrTb_aOKeQp7M2qA&callback=initMap"></script>
        </div> -->

        


      </div>

      <div class="col-sm-12 m-b-30">

        <!-- <div class="pos-rel"> -->
<!--                   <div class="iconmelon m-r-10">
          <svg viewBox="0 0 32 32">
            <g filter="">
              <use xlink:href="#receipt-shopping"></use>
            </g>
          </svg>
        </div> -->
      </div>
    <!--   <div ng-app="app"ng-controller="endorsementCtrl"ng-init="setup()">
      <p ng-repeat="endorsement in endorsements track by $index">{{endorsement.endorser}}</p>
      <p ng-click="toggleVisibility(endorsement)"ng-repeat="endorsement in endorsements track by $index"ng-if="!endorsement.visibility">
                  {{endorsement.content}}
        </p>
      </div> -->

      <div class="row">
        <div class="col-md-8">
          <h1>Work Experience</h1><% if current_user.id == @user.id %><a onclick="this.click();"href="<%= '/work_experiences/new' %>">add new Work Experience</a><% end %>

          <hr class="m-b-0">

          <div id="tasks-list">
            <table class="table-striped">
              <% @user.work_experiences.each do |work_experience| %>
              <tr>
                <td>
                  <span class="body"><strong><%=link_to "#{work_experience.title}", "/work_experiences/#{work_experience.id}"%></strong></span>

                </td>
                <td>
                  <span class="body"><%= work_experience.description %></span>
                </td>
                <td> 
                  <span class="body"><strong><%= work_experience.user_work_experiences.find_by(user_id: "#{@user.id}").role %></strong></span>
                </td>
                <td>
                 
                  <span class="body"><%= work_experience.user_work_experiences.find_by(user_id: "#{@user.id}").description %></span>
                </td>
                
              </tr>
              <% end %>


            </table>
            
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="text-center">Media</h3><% if current_user.id == @user.id %><a onclick="this.click();"href="<%= '/media_players/new' %>">add new Media</a><% end %>
          <hr class="m-b-0">
          <% if @user.media_players.any? %>

          <!-- <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/9386111&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe> -->

          <%= @user.media_players.last.media_player_code.html_safe %>
          <% else %>
          <p>This place is reserved for a media player like soundcloud or reverb nation!  To embed a player here simply follow these instructions!</p>
          <% end %> 
        </div>

      </div>
    </div>

    <!-- SKILLS TAB -->
<%= render "skills" %>
    
      <!-- ENDORSEMENTS -->
<%= render "endorsements" %>
</div>


</div>
</div>
</div>
</div>


