<%= form_for @user_skill do |f|%>
  <div>
    <ul>
      <% if @user_skill && @user_skill.errors.any? %>
        <% @user_skill.errors.full_messages.each do |message| %>
          <li class = "error"><%= message %></li>
        <% end %>
      <% end %>
  </ul>
</div>

  <tr><td><%= f.label :skill_id %></td>
  <td><%= f.select(:skill_id, @skills.collect {|a| ["#{a.name}", a.id]}) %></td></tr>  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  </table>
  <%= f.submit "Add Skill to User", class: "btn btn-default" %>
<% end %>