<%= form_for @work_experience do |f|%>
  <div>
    <ul>
      <% if @work_experience && @work_experience.errors.any? %>
        <% @work_experience.errors.full_messages.each do |message| %>
          <li class = "error"><%= message %></li>
        <% end %>
      <% end %>
  </ul>
</div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :street %>
    <%= f.text_field :street, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class: "form-control"  %>
  </div>
  <%= f.submit "Create Work Experience", class: "btn btn-default" %>
<% end %>