<div class="col-md-2">
</div>
<h1><%= "Skills used" %></h1>
<h1><%=" for #{@work_experience.title}" %></h1>

<hr>

  <div id="tasks-list" class="tasks-wrapper">
    <table class="table-striped">
    <tr>
      <th>Skill</th>
      <th>Description</th>
    </tr>
        <% @work_experience.skills.each do |skill| %>
          <tr>
            <td>
              <input type="checkbox" class="icheck"> 
              <span class="body"><strong><%= skill.name%></strong></span>

            </td>
            <td>
              <input type="checkbox" class="icheck"> 
              <span class="body"><%= skill.description %></span>
            </td>
            <td>
              <input type="checkbox" class="icheck"> 
              <span class="body">Click here to see other users with this skill</span>
            </td>
          </tr>
          <% end %>

        </table>
  </div>
  
  <hr>

<h1><%= "Musicians who worked on" %></h1>
<h1><%=" #{@work_experience.title}" %></h1>

  <div id="tasks-list" class="tasks-wrapper">
    <table class="table-striped">
    <tr>
      <th>Musician</th>
      <th>Role for this Gig</th>
      <th>Bio</th>
    </tr>
        <% @work_experience.users.each do |user| %>
          <tr>
            <td>
              <input type="checkbox" class="icheck"> 
              <span class="body"><strong><%= link_to user.full_name, "/users/#{user.id}"%></strong></span>
            </td>
            <td>
              <input type="checkbox" class="icheck"> 
              <span class="body"><%= "#{user.user_work_experiences.find_by(user_id: "#{user.id}").role}"%></span>
            </td>
            <td>
              <input type="checkbox" class="icheck"> 
              <span class="body"><%= user.short_bio%></span>
            </td>
          </tr>
          <% end %>

        </table>
  </div>