<!DOCTYPE html>
<html>
<head>
  <title>Wegig</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body id="dashboard-page" class="bg-gray-light">

    <nav class="navbar navbar-fixed-top not-collapse bg-g-ln-gray" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" class="hover-white-shade-bg">
          WeGig
          <small class="font-w-100 text-gray-alt hidden-xs hidden-sm"><a href="/">Professional Networking for Professional Musicians</a></small>
        </a>
      </div>
      <div id="top-nav">
        <a href="https://wrapbootstrap.com/theme/sugoi-admin-WB0H6TMC9" type="button" class="btn btn-default navbar-btn navbar-right btn-primary m-r-30 mm-r-10">Purchase</a>
        <div class="navbar-dropdown navbar-right navbar-avatar">
          <a href="#" data-target="#topavatar-toggle" class="hover-no-underline dropdown-toggle m-lr-30 mm-lr-10" data-toggle="dropdown">
         <% if current_user %>
            <span class="text-gray-light hidden-sm hidden-xs"><%= current_user.full_name%></span>
            <span class="caret text-white hidden-sm hidden-xs"></span>
          </a>
          <% end %>
          <ul id="topavatar-toggle" class="dropdown-menu avatar-dropdown">
            <li><a href="/users/2">Jake Bass</a></li>
            <li><a href="/users">Users</a></li>
          </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="messages.html">
    
              <span class="hidden-sm hidden-xs">Messages</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-sm hidden-xs">Pages</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="sidebar bg-gray-dark text-white text-center pushy pushy-left">
      <header class="bg-g-ln-gray p-tb-30 pm-tb-10 p-lr-10 b-bot-2px-gray-dark hidden-xs">
        <% if current_user %>
        <a href="#" data-target="#avatar-toggle" class="hover-no-underline dropdown-toggle" data-toggle="dropdown">
        
          <span class="text-gray-alt">Welcome</span>
          <span class="text-gray-light"><%= current_user.full_name %></span>
          <span class="caret white"></span>
        </a>
      </header>
      <ul id="avatar-toggle" class="dropdown-sidebar-avatar" role="menu" aria-labelledby="dLabel">
        <li><a href="settings.html">Settings</a></li>
        <li><%= link_to "Sign out","/users/sign_out", method: :delete %></li>
      </ul>

      <hr class="no-margin">
      <% else %>
        <h4><a href="/users/sign_up">Have you signed up yet? </a></h4>
      <% end %>

      <ul class="unstyled nav">
        <li class="active"><a href="/" class="text-left">Dashboard</a></li>
        <li>
          <a href="/public_activity" class="text-left">
            NewsFeed
            <!-- <span class="badge bg-blue-light pull-right text-gray-dark brad-small">4</span> -->
          </a>
        <li>
          <a href="#" class="text-left dropdown-toggle" data-toggle="dropdown">
            UI Elements
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="ui.html">UI</a></li>
            <li><a href="widgets.html">Widgets</a></li>
          </ul>
        </li>
        <li><a href="pricing.html" class="text-left">Pricing</a></li>
        <li><a href="settings.html" class="text-left">Settings</a></li>
      </ul>

      <div class="bg-gray-dark-shade text-left search">
        
        <input type="text" placeholder="Search" class="input-invisible">
      </div>



    </div>

    <div class="preloader">
      <div class="timer"></div>
    </div>


        </div>

      </div>

    </div>

  



  </body>

    <div id="container" class="main-content p-30 tp-t-60 tp-lr-10">

      <%= yield %>
    
    </div>


 </body>
</html>